@{
    ViewBag.Title = "Александра Федотова - российский музыкант, скрипач и педагог";
}

@section metatags
{
    <meta name="keywords" content="Александра Федотова, Скрипачка, репетитор, музыка, скрипка" />
    <meta name="description" content="Александра Федотова является одной из наиболее ярких и разносторонних молодых российских музыкантов и представительницей русской скрипичной школы." />
}

<div class="fill" style="background-image:url('../img/Home.jpg');">
    <div class="brand-home">
        <p class="brand-name">ALEKSANDRA FEDOTOVA</p>
    </div>
</div>