@{
    ViewBag.Title = "Александра Федотова";
}
@*<div id="welcomeimage" class="row" style="background:#FFCC66;">
    <img class="img-responsive" src="http://practicana.com/img/background-02.jpg">
    <div id="practicanatitle" class="container" style="text-align: center; margin: 20px auto;">
        <h6 style="line-height: 1; font-family: 'Oleo Script Swash Caps', cursive; color:white;">Practicana</h6>
    </div>
</div>*@
<div class="fill" style="background-image:url('../img/Home.jpg');">
    <div class="brand-home">
        <p class="brand-name">ALEXANDRA FEDOTOVA</p>
    </div>
</div>