@{
    ViewBag.Title = "";
}

@section metatags
{
    <meta name="keywords" content="Александра Федотова, Скрипачка, репетитор, музыка, скрипка" />
}

<div class="fill" style="background-image:url('../img/Home.jpg');">
    <div class="brand-home">
        <p class="brand-name">ALEKSANDRA FEDOTOVA</p>
    </div>
</div>