@{
    ViewBag.Title = "Biography";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Биография<small>&emsp;&emsp;Обо мне...</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "Index", "Home")
                </li>
            <li class="active">Биография</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="../img/About.jpg" class="img-responsive">
    </div>
    <div class="col-md-6">
        <h2>Александра Федотова</h2>
        <p>
            <b>Александра Федотова</b> - одна из наиболее ярких и разносторонних молодых российских музыкантов, является  яркой представительницей русской скрипичной школы. 
            Её талант высоко отметил выдающийся итальянский скрипач <b>Сальваторе Аккардо</b>, на открытых уроках которого она неоднократно выступала.
            Ее репертуар обширен и включает в себя музыку различных эпох и стилей: от барокко до современной музыки <b>20-21вв</b>.
        </p>
        <p>
            <b>Александра Федотова - музыкант</b>, обладающая удивительной артистической универсальностью, успешно совмещая в своей творческой жизни сольное, камерное, оркестровое исполнительство и <b>педагогическую деятельность</b>.
        </p>    
        <p>    
            Родилась в <b>Москве</b> в 1984 году.
        </p>
        <p>
            В 2003 году, с отличием окончив  <b>ЦМШ при МГК им. П.И.Чайковского</b> (педагог <b>М.А.Остапченко</b>), поступила в <b>Московскую Государственную Консерваторию
            им. П.И.Чайковского</b> в класс народного артиста России, композитора и профессора
            <b>И.А.Фролова</b>. В 2008 году продолжила обучение в аспирантуре, а с 2009 года получила должность ассистента на кафедре скрипки под руководством профессора <b>С.И.Кравченко</b>. С этого момента началась ее  педагогическая деятельность.
            В 2009г-2012г <b>Александра</b> совершенствовала мастерство игры на скрипке в <b>scuola di Musica di Fiesole (Флоренция)</b> в классе выдающегося скрипача и педагога <b>Павла Верникова</b> и его ассистентов (<b>Светлана Макарова, Игорь Волошин</b>). 
            Принимала участие в мастер-классах
            <b>Wiener Meisterkurse</b> (Австрия 2013г), <b>Lucca violin Masterclass "Lucca Estate"</b> (2009-2012гг).
        </p>
        <p>
            Начав заниматься музыкой в 5 лет, <b>Александра</b> уже в 10 лет сыграла концерт в сопровождении симфонического оркестра на гастролях в <b>Иркутске</b>, а через год в Москве в сопровождении <b>Московского Государственного симфонического оркестра</b> под руководством <b>Дмитрия Орлова</b> на Московском международном фестивале <b>"Юные солисты"</b>.
            С 11 лет Александра много гастролировала в рамках Международного благотворительного фонда "Новые имена " в составе ансамбля скрипачей "Новые имена планеты". Концерты ансамбля проходили на высшем правительственном уровне: инаугурации первого президента <b>России Б.Н.Ельцина</b>, встреча с президентами стран <b>СНГ, Румынии, наследным принцем Кувейта, Королевой Великобритании Елизаветой</b>.
            Его <b>Святейшество Патриарх Московский</b> и <b>Всея Руси Алексий II</b> дал своё благословления юным дарованиям на концерте в его резиденции.
            С 13 лет является участником <b>Международной благотворительной</b> программы <b>"Школа муз"</b>, благодаря руководителю фонда - <b>Лигии Трякиной</b> получила бесценный опыт игры в ансамбле, сыграла свой первый сольный концерт и выступила в <b>Большом зале Московской Консерватории</b> в сопровождении оркестра.
        </p>
    </div>
    <div class="col-md-12">
        <p>
            <b>Александра Федотова</b> принимает активное участие в различных международных сольных и камерных фестивалях. Гастрольная и фестивальная география охватывает <b>США, Японию, Китай</b>, более 10 стран <b>Европы, СНГ</b> и города <b>России</b> от <b>Якутии до Нарьян-Мара</b>, включая лучшие концертные площадки <b>Москвы</b>.
            Её партнерами по сцене  были <b>Сергей Суворов, Евгений Румянцев, Магда Амара,
            Гайк Казазян, Сергей Полтавский, Павел Нерсесьян, Дмитрий Коган</b>.
            Выступала со многими известными дирижерами, среди которых <b>Леонид Николаев, Митрополит  Волоколамский Иларион, Вероника Дударова, Игорь Фролов, Леонид Казаков, Илья Гайсин, Валентин Урюпин, Николай Соколов, Максим Емельянычев</b>.
        </p>
        <p>
            <b>Александра</b> огромное внимание уделяет камерному музицированию.
        </p>
        <p>
            В консерватории ей посчастливилось учиться в классе выдающегося  профессора, 
            доктора искусствоведения <b>Т.А.Гайдамович</b> и <b>Народного артиста России</b>, профессора <b>А.З. Бондурянского</b>. В составе основанного в их классе <b>"Сезар-квинтета"</b>, признанного  одним из самых ярких молодых коллективов, <b>Александра</b> регулярно выступала в залах <b>Московской Консерватории</b>, <b>Московской</b> филармонии в абонементе <b>"Филармонический дебют"</b>, а также на престижных концертных площадках в <b>России</b> и за рубежом.
        </p>
        <p>
            Во время учебы в консерватории <b>Александра стала лауреатом пяти Международных конкурсов</b>:
        </p>
        <p>
            Международный конкурс скрипачей в <b>Праге (1 премия,2003г)</b>,
        </p>
        <p>
            Международный конкурс скрипачей в <b>Красноярске "Надежда 2004" (Гран-при)</b>,
        </p>
        <p>
            Международный конкурс камерных ансамблей <b>им. Брамса в Австрии (3 премия и специальный приз, 2007г)</b>,
        </p>
        <p>
            Международный конкурс камерных ансамблей <b>им. Т.А.Гайдамович (Гран-при, 2007г)</b>,
        </p>
        <p>
            Международный конкурс камерных ансамблей <b>им.Танеева (1 премия, 2008г)</b>.
        </p>
        <p>
            Особое место в творчестве <b>Александры Федотовой</b> занимает просветительская деятельность:
            в творческом союзе с пианисткой <b>Елизаветой Левиной</b> и флейтистом <b>Станиславом Ярошевским</b> был основан <b>Международный молодёжный</b> фестиваль классической музыки <b>"Primavera classica"</b>, 
            который с неизменным успехом проводился <b>в Москве в 2005-2011гг</b> и фестиваль классической музыки <b>"Возрождение"</b>. 
            В рамках этих фестивалей каждый год проходили бесплатные концерты ,которые посещали тысячи студентов и учащихся. 
            Цель фестивалей была культурно-просветительской, чтобы классическая музыка, как неотъемлемая часть мировой культуры, стала близкой и понятной молодому поколению. 
            В попечительский совет фестивалей входили такие крупные музыканты, как <b>Владимир Спиваков и Денис Мацуев</b>. 
        </p>
        <p>
            В настоящее время <b>Александра</b> является концертмейстером камерного оркестра
            <b>"Московская Камерата"</b> - под руководством <b>Заслуженного артиста России Дмитрия Когана</b>.
        </p>
        <p>
            <b>Александра</b> играет на скрипке неизвестного мастера школы <b>Гварнери</b>, предоставленной ей из фонда <b>Государственной коллекции уникальных инструментов</b>.
        </p>
        @*<p>Родилась в Москве в 1984 году. В 2003 году окончив ЦССМШ при МГК им. Чайковского, поступила в МГК им. Чайковского в класс профессора Фролова И.А. C 2008 года продолжала обучение в аспирантуре. С 2009 года - ассистент в классе профессора Фролова И.А. В 2009-2012 годах - стажировка в Высшей школе музыки во Флоренции в классе профессора Верникова П.С. С 2005 года работает в МФК «Москонцерт». С 2013 года - концертмейстер оркестра «Московская Камерата». Лауреат Международного конкурса скрипачей в Чехии (1 премия, 2003 год). Лауреат Международного конкурса скрипачей в Красноярске (Гран-при, 2004 год). Лауреат Международного конкурса им. Брамса (3-я премия и специальный приз, 2007 год). Лауреат Международного конкурса камерных ансамблей им. Гайдамович (Гран-при, 2007 год). Лауреат Международного конкурса камерных ансамблей им. Танеева (1 премия, 2008 год). Принимала участие в фестивалях и мастер-классах: США, Япония, Китай, Индия, Германия, Италия и т.д.</p>
            <p>This is a great place to introduce your company or project and describe what you do. This about page features general company information, employee bios, and other helpful elements.</p>
            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>*@
    </div>
</div>
<!-- Team Member Profiles -->
@*<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Our Team</h2>
    </div>
    <div class="col-sm-4">
        <img src="http://placehold.it/750x450" class="img-responsive">
        <h3>
            John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link">
                <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link">
                <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link">
                <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link">
                <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <img src="http://placehold.it/750x450" class="img-responsive">
        <h3>
            John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link">
                <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link">
                <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link">
                <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link">
                <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <img src="http://placehold.it/750x450" class="img-responsive">
        <h3>
            John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link">
                <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link">
                <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link">
                <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link">
                <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <img src="http://placehold.it/750x450" class="img-responsive">
        <h3>
            John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link">
                <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link">
                <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link">
                <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link">
                <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <img src="http://placehold.it/750x450" class="img-responsive">
        <h3>
            John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link">
                <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link">
                <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link">
                <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link">
                <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <img src="http://placehold.it/750x450" class="img-responsive">
        <h3>
            John Smith
            <small>Job Title</small>
        </h3>
        <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
        <ul class="list-unstyled list-inline list-social-icons">
            <li class="tooltip-social facebook-link">
                <a title="Facebook" data-placement="top" data-toggle="tooltip" href="#facebook-profile"><i class="fa fa-facebook-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social linkedin-link">
                <a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-profile"><i class="fa fa-linkedin-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social twitter-link">
                <a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a>
            </li>
            <li class="tooltip-social google-plus-link">
                <a title="Google+" data-placement="top" data-toggle="tooltip" href="#google-plus-profile"><i class="fa fa-google-plus-square fa-2x"></i></a>
            </li>
        </ul>
    </div>
</div>*@
<!-- Our Customers -->
@*<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Our Customers</h2>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="http://placehold.it/500x300" class="img-responsive img-customer">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="http://placehold.it/500x300" class="img-responsive img-customer">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="http://placehold.it/500x300" class="img-responsive img-customer">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="http://placehold.it/500x300" class="img-responsive img-customer">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="http://placehold.it/500x300" class="img-responsive img-customer">
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
        <img src="http://placehold.it/500x300" class="img-responsive img-customer">
    </div>
</div>*@
</div>
<hr>