@{
    ViewBag.Title = "Биография - ";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Биография<small>&emsp;&emsp;Обо мне...</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Главная", "Index", "Home")
                </li>
            <li class="active">Биография</li>
        </ol>
    </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="../img/About.jpg" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h2>Александра Федотова</h2>
            <p>
                <b>Александра Федотова</b> - одна из наиболее ярких и разносторонних молодых российских музыкантов, является  яркой представительницей русской скрипичной школы. 
                Её талант высоко отметил выдающийся итальянский скрипач <b>Сальваторе Аккардо</b>, на открытых уроках которого она неоднократно выступала.
                Ее репертуар обширен и включает в себя музыку различных эпох и стилей: от барокко до современной музыки <b>20-21вв</b>.
            </p>
            <p>
                <b>Александра Федотова - музыкант</b>, обладающая удивительной артистической универсальностью, успешно совмещая в своей творческой жизни сольное, камерное, оркестровое исполнительство и <b>педагогическую деятельность</b>.
            </p> 
            <p>Родилась в <b>Москве</b> в 1984 году. В 2003 году, с отличием окончив  <b>ЦМШ при МГК им. П.И.Чайковского</b> (педагог <b>М.А.Остапченко</b>), поступила в <b>Московскую Государственную Консерваторию
               им. П.И.Чайковского</b> в класс народного артиста России, композитора и профессора
               <b>И.А.Фролова</b>. В 2008 году продолжила обучение в аспирантуре, а с 2009 года получила должность ассистента на кафедре скрипки под руководством профессора <b>С.И.Кравченко</b>. С этого момента началась ее  педагогическая деятельность.
               В 2009г-2012г <b>Александра</b> совершенствовала мастерство игры на скрипке в <b>scuola di Musica di Fiesole (Флоренция)</b> в классе выдающегося скрипача и педагога <b>Павла Верникова</b> и его ассистентов (<b>Светлана Макарова, Игорь Волошин</b>). 
               Принимала участие в мастер-классах <b>Wiener Meisterkurse</b> (Австрия 2013г), <b>Lucca violin Masterclass "Lucca Estate"</b> (2009-2012гг).
            </p>
            <p>
                Начав заниматься музыкой в 5 лет, <b>Александра</b> уже в 10 лет сыграла концерт в сопровождении симфонического оркестра на гастролях в <b>Иркутске</b>, а через год в Москве в сопровождении <b>Московского Государственного симфонического оркестра</b> под руководством <b>Дмитрия Орлова</b> на Московском международном фестивале <b>"Юные солисты"</b>.
                С 11 лет Александра много гастролировала в рамках Международного благотворительного фонда "Новые имена " в составе ансамбля скрипачей <b>"Новые имена планеты"</b>.                 
                Концерты ансамбля проходили на высшем правительственном уровне: инаугурации первого президента <b>России Б.Н.Ельцина</b>, встреча с президентами стран <b>СНГ, Румынии, наследным принцем Кувейта, Королевой Великобритании Елизаветой</b>.
            </p>
        </div>
        <div class="col-md-12">
            
            Его <b>Святейшество Патриарх Московский</b> и <b>Всея Руси Алексий II</b> дал своё благословления юным дарованиям на концерте в его резиденции.
            С 13 лет является участником <b>Международной благотворительной</b> программы <b>"Школа муз"</b>, благодаря руководителю фонда - <b>Лигии Трякиной</b> получила бесценный опыт игры в ансамбле, сыграла свой первый сольный концерт и выступила в <b>Большом зале Московской Консерватории</b> в сопровождении оркестра.

            <p>
                <b>Александра Федотова</b> принимает активное участие в различных международных сольных и камерных фестивалях. Гастрольная и фестивальная география охватывает <b>США, Японию, Китай</b>, более 10 стран <b>Европы, СНГ</b> и города <b>России</b> от <b>Якутии до Нарьян-Мара</b>, включая лучшие концертные площадки <b>Москвы</b>.
                Её партнерами по сцене  были <b>Сергей Суворов, Евгений Румянцев, Магда Амара,
                Гайк Казазян, Сергей Полтавский, Павел Нерсесьян, Дмитрий Коган</b>.
                Выступала со многими известными дирижерами, среди которых <b>Леонид Николаев, Митрополит  Волоколамский Иларион, Вероника Дударова, Игорь Фролов, Леонид Казаков, Илья Гайсин, Валентин Урюпин, Николай Соколов, Максим Емельянычев</b>.
            </p>
            <p>
                <b>Александра</b> огромное внимание уделяет камерному музицированию. В консерватории ей посчастливилось учиться в классе выдающегося  профессора, доктора искусствоведения <b>Т.А.Гайдамович</b> и <b>Народного артиста России</b>, профессора <b>А.З. Бондурянского</b>. В составе основанного в их классе <b>"Сезар-квинтета"</b>, признанного  одним из самых ярких молодых коллективов, <b>Александра</b> регулярно выступала в залах <b>Московской Консерватории</b>, <b>Московской</b> филармонии в абонементе <b>"Филармонический дебют"</b>, а также на престижных концертных площадках в <b>России</b> и за рубежом.
            </p>
            <p>
                Во время учебы в консерватории <b>Александра стала лауреатом пяти Международных конкурсов</b>: 
                <ul>
                   <li>Международный конкурс скрипачей в <b>Праге (1 премия,2003г)</b></li>
                   <li>Международный конкурс скрипачей в <b>Красноярске "Надежда 2004" (Гран-при)</b></li>
                   <li>Международный конкурс камерных ансамблей <b>им. Брамса в Австрии (3 премия и специальный приз, 2007г)</b></li>
                   <li>Международный конкурс камерных ансамблей <b>им. Т.А.Гайдамович (Гран-при, 2007г)</b></li>
                   <li>Международный конкурс камерных ансамблей <b>им.Танеева (1 премия, 2008г)</b></li>
                </ul>
            </p>
            <p>
                Особое место в творчестве <b>Александры Федотовой</b> занимает просветительская деятельность<b> - </b>
                в творческом союзе с пианисткой <b>Елизаветой Левиной</b> и флейтистом <b>Станиславом Ярошевским</b> был основан <b>Международный молодёжный фестиваль классической музыки "Primavera classica"</b>, 
                который с неизменным успехом проводился <b>в Москве в 2005-2011гг</b> и фестиваль классической музыки <b>"Возрождение"</b>. 
                В рамках этих фестивалей каждый год проходили бесплатные концерты ,которые посещали тысячи студентов и учащихся. 
                Цель фестивалей была культурно-просветительской, чтобы классическая музыка, как неотъемлемая часть мировой культуры, стала близкой и понятной молодому поколению. 
                В попечительский совет фестивалей входили такие крупные музыканты, как <b>Владимир Спиваков и Денис Мацуев</b>. 
            </p>
            <p>
                В настоящее время <b>Александра</b> является концертмейстером камерного оркестра
                <b>"Московская Камерата"</b> - под руководством <b>Заслуженного артиста России Дмитрия Когана</b>.
            </p>
            <p>
                <b>Александра</b> играет на скрипке мастера школы <b>Гварнери</b>, предоставленной ей из фонда <b>Государственной коллекции уникальных инструментов</b>.
            </p>
        </div>
    </div>
</div>
<hr>