@using AlexandraViolin.HtmlHelpers

@{
    Html.AddStyle("/bundles/css/videocss");
    Html.AddStyle("/bundles/material-icons");
    Html.AddJavaScript("/bundles/videojs");
}

<div id="video_player"></div>

@Scripts.Render("~/bundles/medi") 
