<div class="row">
    <div class="col-md-4 portfolio-item">
        <a href="@Url.Action("Photo","Mediya", new { album = "Studio" })" class="crop">
            <img src="../img/Studio/Studio_12m.jpg" class="crop" alt="Обложка альбома Студио">
        </a>
        <h3>Студийный</h3>
    </div>
    <div class="col-md-4 portfolio-item">
        <a href="@Url.Action("Photo","Mediya", new { album = "Concert" })" class="crop">
            <img src="../img/Concert/Concert_3m.jpg" class="crop" alt="Обложка альбома Концерт">
        </a>
        <h3>Концертный</h3>
    </div>
</div>
