@{
    ViewBag.Title = "Аудио - ";
}

    <div class="row">
        <div class="col-md-4 portfolio-item">
            <audio controls preload="none">
                <source src="../audio/Wega Violins.ogg" type="audio/ogg">
                <source src="../audio/Wega Violins.mp3" type="audio/mp3">
            </audio>
            <p class="pvideo"><b>Вивильди "Лето" - </b><small>Скрипичный дуэт: Александра Федотова и Эвелина Сорокина</small></p>
        </div>
        <div class="col-md-4 portfolio-item">
            <audio controls>
                <source src="../audio/Сырба.ogg" type="audio/ogg">
                <source src="../audio/Сырба.mp3" type="audio/mp3">
            </audio>
            <p class="pvideo"><b>Сырба - </b><small>Скрипичный дуэт: Александра Федотова и Эвелина Сорокина</small></p>
        </div>
    </div> 

<script>
    var activeAudio;
    $("audio").on("play", function () {
        if (activeAudio && activeAudio != this) {
            activeAudio.pause();
        }
        activeAudio = this;
        //$("audio").not(this).each(function(index, audio) { //del
        //    audio.pause(); //del
        //}); //del
    });
</script> 