@{
    ViewBag.Title = "Медиа - Александра Федотова";
}

@section metatags
{
    <meta name="keywords" content="фото Алксандра Федотова, фотогаллерея Александра Федотова" />
    <meta name="description" content="Аудио, видео и фото с участием музыканта, педагога, скрипачки Александры Федотовой - яркой представительницей русской скрипичной школы." />
    @Styles.Render("~/bundles/css/violin")
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Фотоальбомы
            </h1>
        </div>
    </div>
    <div class="row container-flex">
            @Html.Partial("Album")
    </div>
</div>
<hr>


