@{
    ViewBag.Title = "Video";
}

<div class="row">
    <div class="col-md-4 portfolio-item">
        <iframe src="https://www.youtube.com/embed/0Hd2cAWkiE8" frameborder="0" allowfullscreen></iframe>
        <p>J.S. Bach - Concerto d-moll for two violins and string, BWV 1043 - I, II</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <iframe src="https://www.youtube.com/embed/hH_UNN7DtmE" frameborder="0" allowfullscreen></iframe>
        <p>J.S. Bach - Concerto d-moll for two violins and string, BWV 1043 - II, III</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <iframe src="https://www.youtube.com/embed/df9PPJbXCCM" frameborder="0" allowfullscreen></iframe>
        <p>Концерт Александры Федотовой и Анастасии Соколовой в Усадьбе Асеевых</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <iframe src="https://www.youtube.com/embed/-_A3Cmp7GNM" frameborder="0" allowfullscreen></iframe>
        <p>I. Frolov - Joke-Souvenir</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <iframe src="https://www.youtube.com/embed/M8juBcT9S40" frameborder="0" allowfullscreen></iframe>
        <p>I. Frolov - Divertimento Игорь Фролов - Дивертисмент</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <iframe src="https://www.youtube.com/embed/wgTUyWN-d4k" frameborder="0" allowfullscreen></iframe>
        <p>Сезар квинтет, МГК Ф Шнитке</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <iframe src="https://www.youtube.com/embed/zlGfwV7C-JQ" frameborder="0" allowfullscreen></iframe>
        <p>С. Танеев, квинтет Сезар квинтет, 22 04 2008</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <iframe src="https://www.youtube.com/embed/2QkMYWdFhqQ" frameborder="0" allowfullscreen></iframe>
        <p>Сезар квинтет Д. Шостакович квинтет соль минор, сочинение 75, часть 4, 5</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <iframe src="https://www.youtube.com/embed/UTU5v80a5Oc" frameborder="0" allowfullscreen></iframe>
        <p>Сезар квинтет С. Франк квинтет фа минор, FWV7, часть 1, 2</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <iframe src="https://www.youtube.com/embed/knx-CNY-DFg" frameborder="0" allowfullscreen></iframe>
        <p>Сезар Квинтет С. Франк Квинтет фа минор, FWV7, часть 3 (Дворжак Квинтет 3-я часть - бис)</p>
    </div>
    <div class="col-md-4 portfolio-item">
        <iframe src="https://www.youtube.com/embed/_Wq-w2fNGGY" frameborder="0" allowfullscreen></iframe>
        <p>Сезар-Квинтет Д. Шостакович Квинтет соль минор сочинение 75, 1, 2, 3 части</p>
    </div>
</div>





