@{
    ViewBag.Title = "Новости - Александра Федотова";
}

@section metatags
{
    <meta name="keywords" content="Александра Федотова новости, новости, скрипачка" />
    <meta name="description" content="Новости от скрипачки Александры Федотовой." />
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Новости
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">

            <p class="lead">
                К юбилею Валентины Терешковой ее семья и оркестр «Русская филармония» подготовили особенный подарок. 
            </p>
            <p><i class="fa fa-clock-o"></i> Март 20, 2017</p>
            <p>6 марта первая в мире женщина-космонавт отметила свой 80-летний юбилей. К празднику ее семья, заслуженный артист России Дмитрий Коган и московский симфонический оркестр «Русская филармония» подготовили фильм-концерт «Легенда о Валентине».</p>
            <p>Над сценой Светлановского зала Дома музыки белеет полотно экрана. Совсем скоро музыка соединится с хроникой покорения космоса. Но прежде гостей приветствует главная отрада Валентины Терешковой — ее внук Андрей. Он чуть смущенно оглядывает зрительный зал, выдыхает и заводит на скрипке торжественный «Маленький венский марш» Фрица Крейслера. Мелодия прорезает полумрак и настраивает на историю о непостижимом.</p>
            <p>Свет гаснет, и только фонарики над партитурами музыкантов светлячками освещают ноты. Но взгляды прикованы к экрану — с него улыбается Валентина Терешкова. Тогда еще обычная девушка Валя, которой судьбой уготовано стать легендой космоса. Дмитрий Коган примеривается к инструменту и начинает играть.</p>
            <p>— Подбирать музыку для проекта было непросто, но интересно, — рассказывает Дмитрий Коган. — На это ушло около полугода. В конце концов путем обсуждений и долгих раздумий мы смогли подобрать нужный репертуар.</p>
            <p>Музыкальную заставку из «Новостей» каждый узнает с первых нот. Это весть, облетевшая весь мир, — русская девушка Валентина совершила полет к звездам. «Молодец, Валя!» — пишет рабочий на стене белой масляной краской. Приземлившаяся героиня сидит на земле, в наполовину снятом скафандре, и пьет молоко. Она выглядит усталой и слегка растерянной, но улыбается. Дальше события несутся стремительнее — получение звания Героя СССР, торжественные встречи и празднование Нового года, свадьба и рождение дочери. Судьба героини перекликается с судьбами советских людей и в то же время воплощает их стремления. Она живая легенда.</p>
            <p>При создании фильма использовались уникальные кадры «Роскосмоса» и снимки из личного архива Терешковых.</p>
            <a href="http://vm.ru/news/363289.html">Источник</a>
            <hr>

            <p class="lead">
                Торжественные мероприятия посвященные 80-летнему юбилею первой женщины-космонавта в истории человечества, Героя Советского Союза – В.В. Терешковой. 
            </p>
            <p><i class="fa fa-clock-o"></i> Март 6, 2017</p>
            <p>6 марта 2017 г. исполняется 80 лет со дня рождения первой женщины – космонавта, Героя Советского Союза В.В. Терешковой. В рамках официальных торжеств запланирована презентация уникального мультимедийного проекта «Легенда о Валентине», созданного Благотворительным Фондом Терешковой совместно с Заслуженным артистом России Д.П. Коганом. Основная цель этого патриотического проекта – продемонстрировать достижения нашей великой страны в освоении мирного космоса, показать путь становления России главной космической державой.</p>
            <p>Фильм-концерт соединяет в себе документальные кадры и архивные фотографии Валентины Владимировны, рассказывающие о ее жизни до и после полета, соединяющие в себе целую эпоху развития русской космонавтики и события, происходившие на международной арене, в которых она принимала участие. Люди, окружавшие Валентину Владимировну, ее друзья, внесли неоценимый вклад в развитие мировой космонавтики – С.П. Королев, Ю.А. Гагарин, А.А. Леонов, В.Ф. Быковский, Г.С. Титов, вплетаются в повествование жизни Валентины Владимировны наравне с музыкальным сопровождением составленного видеоряда. Концерт состоит из произведений классической музыки в авторской обработке для скрипки соло и струнного оркестра. Живое исполнение русских классиков (П.И. Чайковского, С.С. Прокофьева, Д.Д. Шостаковича, Г.В. Свиридова) и мировых шедевров классической музыки позволяют прикоснуться к личным переживаниям Валентины, девушки осуществившей свою мечту, доброй и внимательной женщине, любящей маме и любимой бабушке. Оживляют в памяти тех, кто переживал 16 июня 1963 года гордость за «Чайку», дают толчок молодому поколению более глубоко изучить историю освоения мирного космоса и достижения наших летчиков-космонавтов оказавших огромное влияние на мировую космонавтику.</p>
            <p>Концертная программа (живой звук) проходит синхронно с видеорядом и требует высокого профессионализма исполнителей. Всемирно известный скрипач, Дмитрий Коган, является автором музыкальной части проекта и сопровождает его в этом проекте один из ведущих оркестров города Москвы - «Московская камерата». Оркестр был создан в конце 1994 году. Руководителем и дирижёром оркестра был известный скрипач и композитор, лауреат международных конкурсов, Народный артист России, профессор Игорь Фролов. Начиная с первых выступлений и до сегодняшнего дня, концертная деятельность оркестра вызывает большой интерес у публики. Постоянный успех сопровождает оркестр во всех зарубежных гастролях (Испания, Франция, Великобритания,Германия, Польша и др.) С неизменным успехом «Московская камерата» выступает в лучших концертных залах Москвы и крупнейших городах России.</p>
            <p>С февраля 2014 года Дмитрий Коган назначен художественным руководителем оркестра «Московская камерата».</p>
            <p>Дмитрий Коган –почетный профессор Афинской и Уральской консерваторий. Художественный руководитель ряда крупных музыкальных фестивалей: “Кремль музыкальный”, международный фестиваль “Дни высокой музыки”, международный “Коган фестиваль”, Арктический фестиваль классической музыки, Волжский фестиваль духовной музыки и других. Автор беспрецедентного культурного проекта «Пять Великих скрипок в одном концерте», который с огромным успехом презентуется скрипачом на лучших концертных площадках в России и за рубежом.</p>
            <p>С 2011 года постоянная спутница музыканта - легендарная скрипка «Робрехт», созданная в 1728 году величайшим кремонским мастером Джузеппе Гварнери (дель Джезу), переданная ему в пользование Фондом поддержки уникальных культурных проектов.</p>
            <p>Презентация данного патриотического проекта так же планируется в мировых столицах и регионах Российской Федерации.</p> 
            <a href="http://biletsakhalin.ru/poster?id=511">Источник</a>
            <hr>
            

            <p class="lead">
                ФИЛЬМ МИТРОПОЛИТА ИЛАРИОНА «АНТОНИО ВИВАЛЬДИ - КОМПОЗИТОР И СВЯЩЕННИК» 
            </p>
            <p><i class="fa fa-clock-o"></i> Февраль 17, 2017 - 17:30</p>
            <div class="portfolio-item">
                <iframe src="https://www.youtube.com/embed/0cnnOZb3394" frameborder="0" allowfullscreen></iframe> 
            </div>
            <p>В знаменитом цикле концертов "Четыре времени года" Вивальди показал жизнь людей в течение всего года. Он посмотрел на эту жизнь со стороны и изнутри, посмотрел на неё теми чистыми глазами, которыми видит мир человек глубоко религиозный и в то же время глубоко гуманный, каким был дон Антонио Вивальди.</p>
            <p>Но смена времен года – это и символ разных возрастов: детства, юности, зрелости и старости. В финале цикла мы слышим отзвук смерти, но одновременно и приближение весны – намек на воскресение, которое ожидает каждого человека.</p>
            <p>Антонио Вивальди, композитор и священник, своей музыкой напоминает о том, что жизнь прекрасна во разных своих проявлениях. Жизнь человека заканчивается смертью, но за смертью следует воскресение, подобно тому, как после зимы непременно приходит весна.</p>
            <p>Автор, ведущий и дирижёр - митрополит Иларион (Алфеев)</p> 
            <p>Солист - Дмитрий Коган.</p> 
            <p>Оркестр "Московская камерата".</p> 
            <p>Студия Неофит, 2016</p> 
            <a href="http://tvkultura.ru/brand/show/brand_id/61534/">Источник</a>

            <hr> 

            <p class="lead">
                В Ярославле пройдет Коган-фестиваль
            </p>
            <p><i class="fa fa-clock-o"></i> Октябрь 21, 2016 - 11:00</p>

            <p>С 13 по 19 ноября в Ярославской области состоится III Международный музыкальный «Коган-фестиваль». Как сообщили корреспонденту ИА REGNUM в региональном департаменте культуры, в рамках программы запланированы 3 концерта и две творческие встречи.</p>
            <a href="https://regnum.ru/news/cultura/2195009.html">Источник</a>
            <hr>

            <p class="lead">Дни высокой музыки в Арктике. Яркие моменты</p>
            <p><i class="fa fa-clock-o"></i> Сентябрь 20, 2016 - 12:00</p>

            <div class="portfolio-item">
                <iframe src="https://www.youtube.com/embed/Er8Lj2QsH7g" frameborder="0" allowfullscreen></iframe>
            </div>
            <p>В столице Ненецкого округа прошло одно из самых ярких культурных событий года — III Арктический фестиваль классической музыки «Дни высокой музыки в Арктике». Вечную классику и инновационные технологии представил ценителям музыки всемирно известный скрипачи Дмитрий Коган и Александра Федотова в сопровождении камерного оркестра «Московская камерата». Возможность послушать шедевры мировых произведений вживую подарила любителям музыки компания «Лукойл-Коми». Благодаря их поддержке в рамках соглашения о сотрудничестве с Администрации НАО Арктический фестиваль классической музыки уже третий год проходит в округе.</p>

            <hr>
            <p class="lead">Мастер-классы для юных воспитанников школ искусств проводят лучшие музыканты России</p>
            <p><i class="fa fa-clock-o"></i> Сентябрь 16, 2016 - 10:00</p>

            <p>В Детской школе искусств города Нарьян-Мара урок по классу балалайки провели Дмитрий Буцыков и Дмитрий Косяков. Музыканты из Самары, победители и лауреаты международных и всероссийских конкурсов, поработали с нарьянмарскими учениками музыкальной школы как преподаватели, сыграли свои произведения, дали профессиональные советы и рекомендации.</p>
            <p>В аналогичном формате урок по классу баяна в это же время в поселке Искателей (для юных баянистов двух школ искусств) провел Юрий Солаев – лауреат всероссийских и дипломант международных конкурсов, лауреат всероссийских премий, стипендиат Российского Фонда Культуры и Правительства РФ.</p>
            <p>17 сентября мастер-классы по классу фортепиано и скрипки в школах искусств округа проведут музыканты камерного оркестра «Московская камерата»: Александра Федотова (скрипка) и Федор Строганов (фортепиано). Участниками мастер-классов станут восемь юных музыкантов НАО, показавших в процессе обучения в музыкальных школах лучшие результаты.</p>
            <p>Высокая музыка стала доступней для жителей Ненецкого округа, в том числе и юных музыкантов, благодаря реализации проекта Арктический фестиваль классической музыки «Дни Высокой музыке в Арктике», который с 2014 года стал в НАО традиционным.</p>
            <p>В 2016 году фестиваль приурочен к празднованию Дня образования Ненецкого округа и Дня нефтяника. Традиционно мероприятие организовано при поддержке ПАО «ЛУКОЙЛ» в рамках соглашения о сотрудничестве нефтяников и Администрации НАО.</p>
            <p>Учредителем фестиваля является Фонд поддержки уникальных культурных проектов им. Когана и Администрация НАО.</p>
            <a href="http://adm-nao.ru/press/government/12005/">Источник</a>
            <hr>        
        </div>
    </div>
</div>