@{
    ViewBag.Title = "Новости - Александра Федотова";
}

@section metatags
{
    <meta name="keywords" content="Александра Федотова новости, новости, скрипачка" />
    <meta name="description" content="Новости от скрипачки Александры Федотовой." />
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Новости
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p class="lead">
                В Ярославле пройдет Коган-фестиваль
            </p>

            <p><i class="fa fa-clock-o"></i> Октябрь 21, 2016 - 11:00</p>

            <p>С 13 по 19 ноября в Ярославской области состоится III Международный музыкальный «Коган-фестиваль». Как сообщили корреспонденту ИА REGNUM в региональном департаменте культуры, в рамках программы запланированы 3 концерта и две творческие встречи.</p>
            <a href="https://regnum.ru/news/cultura/2195009.html">Источник</a>
            <hr>

            <p class="lead">Дни высокой музыки в Арктике. Яркие моменты</p>
            <p><i class="fa fa-clock-o"></i> Сентябрь 20, 2016 - 12:00</p>

            <div class="portfolio-item">
                <iframe src="https://www.youtube.com/embed/Er8Lj2QsH7g" frameborder="0" allowfullscreen></iframe>
            </div>
            <p>В столице Ненецкого округа прошло одно из самых ярких культурных событий года — III Арктический фестиваль классической музыки «Дни высокой музыки в Арктике». Вечную классику и инновационные технологии представил ценителям музыки всемирно известный скрипачи Дмитрий Коган и Александра Федотова в сопровождении камерного оркестра «Московская камерата». Возможность послушать шедевры мировых произведений вживую подарила любителям музыки компания «Лукойл-Коми». Благодаря их поддержке в рамках соглашения о сотрудничестве с Администрации НАО Арктический фестиваль классической музыки уже третий год проходит в округе.</p>

            <hr>
            <p class="lead">Мастер-классы для юных воспитанников школ искусств проводят лучшие музыканты России</p>
            <p><i class="fa fa-clock-o"></i> Сентябрь 16, 2016 - 10:00</p>

            <p>В Детской школе искусств города Нарьян-Мара урок по классу балалайки провели Дмитрий Буцыков и Дмитрий Косяков. Музыканты из Самары, победители и лауреаты международных и всероссийских конкурсов, поработали с нарьянмарскими учениками музыкальной школы как преподаватели, сыграли свои произведения, дали профессиональные советы и рекомендации.</p>
            <p>В аналогичном формате урок по классу баяна в это же время в поселке Искателей (для юных баянистов двух школ искусств) провел Юрий Солаев – лауреат всероссийских и дипломант международных конкурсов, лауреат всероссийских премий, стипендиат Российского Фонда Культуры и Правительства РФ.</p>
            <p>17 сентября мастер-классы по классу фортепиано и скрипки в школах искусств округа проведут музыканты камерного оркестра «Московская камерата»: Александра Федотова (скрипка) и Федор Строганов (фортепиано). Участниками мастер-классов станут восемь юных музыкантов НАО, показавших в процессе обучения в музыкальных школах лучшие результаты.</p>
            <p>Высокая музыка стала доступней для жителей Ненецкого округа, в том числе и юных музыкантов, благодаря реализации проекта Арктический фестиваль классической музыки «Дни Высокой музыке в Арктике», который с 2014 года стал в НАО традиционным.</p>
            <p>В 2016 году фестиваль приурочен к празднованию Дня образования Ненецкого округа и Дня нефтяника. Традиционно мероприятие организовано при поддержке ПАО «ЛУКОЙЛ» в рамках соглашения о сотрудничестве нефтяников и Администрации НАО.</p>
            <p>Учредителем фестиваля является Фонд поддержки уникальных культурных проектов им. Когана и Администрация НАО.</p>
            <a href="http://adm-nao.ru/press/government/12005/">Источник</a>
            <hr>        
        </div>
    </div>
</div>