@{
    ViewBag.Title = "Контакты - Александра Федотова";
}

@section metatags
{
    <meta name="keywords" content="Александра Федотова, контакты" />
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Контакты</h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                <li class="active">Контакты</li>
            </ol>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <h3><i class="fa"></i>Россия, Москва</h3>
                        <i class="fa fa-envelope-o"></i><abbr title="Email"> Email</abbr>: <a href="mailto:fedotova.violin@gmail.com">fedotova.violin@gmail.com</a>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <h3><i class="fa"></i>Социальные сети</h3>
                        <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/sasha.fedotova"><span class="fa fa-facebook"></span></a>
                        <a class="btn btn-social-icon btn-instagram" href="https://instagram.com/fedotovasasha"><span class="fa fa-instagram"></span></a>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <h3><i class="fa"></i>Веб сайты</h3>
                        <a title="Mosconcert" data-placement="bottom" data-toggle="tooltip" href="http://www.mosconcert.com/"><i class="fa">mosconcert.com</i></a>
                        <br/>
                        <a title="dmitrikogan" data-placement="bottom" data-toggle="tooltip" href="http://dmitrikogan.ru/"><i class="fa">dmitrikogan.ru</i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <iframe width="100%" scrolling="no" height="400px" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2243.508425734103!2d37.568585!3d55.784409!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5498b4a1d0101%3A0xcdb48e4d1c5c28f2!2z0JzQvtGB0LrQvtC90YbQtdGA0YI!5e0!3m2!1sen!2sru!4v1476545619031" marginwidth="0" marginheight="0"></iframe>
        </div>
    </div>
</div>
<hr>
