@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Contact <small>We'd Love to Hear From You!</small></h1>
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                <li class="active">Контакты</li>
            </ol>
        </div>
        <div class="col-lg-12">
            <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
            <iframe width="100%" scrolling="no" height="400px" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2243.508425734103!2d37.568585!3d55.784409!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5498b4a1d0101%3A0xcdb48e4d1c5c28f2!2z0JzQvtGB0LrQvtC90YbQtdGA0YI!5e0!3m2!1sen!2sru!4v1476545619031" marginwidth="0" marginheight="0"></iframe>
        </div>
    </div><!-- /.row -->
    <div class="row">
        <div class="col-sm-8">
            <h3>Оптаврить сообщение Александре Федотовой</h3>
            @*<p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>*@
            <form action="contact-form-submission.php" method="POST" role="form">
                <div class="row">
                    <div class="form-group col-lg-4">
                        <label for="input1">Имя</label>
                        <input type="text" id="input1" class="form-control" name="contact_name">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input2">Email</label>
                        <input type="email" id="input2" class="form-control" name="contact_email">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="input3">Телефон</label>
                        <input type="phone" id="input3" class="form-control" name="contact_phone">
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group col-lg-12">
                        <label for="input4">Сообщение</label>
                        <textarea id="input4" rows="6" class="form-control" name="contact_message"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                        <input type="hidden" value="contact" name="save">
                        <button class="btn btn-primary" type="submit">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <h3>Контакты</h3>
            <h4>Россия, Москва</h4>
            @*<p>
                Россия, Москва
            </p>*@
            <p><i class="fa fa-phone"></i> <abbr title="Phone">Телефон</abbr>: <a href="tel:89261410775">8 (926) 141-0775</a></p>
            <p><i class="fa fa-envelope-o"></i> <abbr title="Email">Email</abbr>: <a href="mailto:fedotova.violin@gmail.com">fedotova.violin@gmail.com</a></p>
            <p><i class="fa fa-clock-o"></i> <abbr title="Hours">Время</abbr>: Понедельник - Пятница: с 9:00 по 18:00</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a title="Facebook" data-placement="top" data-toggle="tooltip" href="https://www.facebook.com/sasha.fedotova"><i class="fa fa-facebook-square fa-2x">facebook.com/sasha.fedotova</i></a></li>
                <li class="tooltip-social linkedin-link"><a title="LinkedIn" data-placement="top" data-toggle="tooltip" href="#linkedin-company-page"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                <li class="tooltip-social twitter-link"><a title="Twitter" data-placement="top" data-toggle="tooltip" href="#twitter-profile"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <li class="tooltip-social instagram-link"><a title="Instagram" data-placement="top" data-toggle="tooltip" href="https://instagram.com/fedotovasasha"><i class="fa fa-instagram-square fa-2x">instagram.com/fedotovasasha</i></a></li>
                <li/>
                <li class="tooltip-social btn-link"><a title="Mosconcert" data-placement="bottom" data-toggle="tooltip" href="http://www.mosconcert.com/"><i class="fa fa-2x">www.mosconcert.com</i></a></li>
            </ul>
        </div>
    </div><!-- /.row -->
</div>