@{
    ViewBag.Title = "Контакты - Александра Федотова";
}

@section metatags
{
    <meta name="keywords" content="Александра Федотова, контакты" /> 
    <meta name="description" content="Контакты с Александрой Федотовой." /> 
}

@section head
{
    @Scripts.Render("~/bundles/jqueryunobtrusiveajaxjs")
    @Scripts.Render("~/bundles/jqueryvalidatejs")
    @Scripts.Render("~/bundles/jqueryvalidateunobtrusivejs")
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Контакты</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h4>Россия, Москва</h4>
                    <i class="fa fa-envelope-o"></i><abbr title="Email"> Email</abbr>: <a href="mailto:fedotova.violin@gmail.com">fedotova.violin@gmail.com</a>
                </div>
                <div class="col-lg-4">
                    <h4>Социальные сети</h4>
                    <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/sasha.fedotova"><span class="fa fa-facebook"></span></a>
                    <a class="btn btn-social-icon btn-instagram" href="https://instagram.com/fedotovasasha"><span class="fa fa-instagram"></span></a>
                </div>
                <div class="col-lg-4">
                    <h4><i class="fa"></i>Веб сайты</h4>
                    <a title="Mosconcert" data-placement="bottom" data-toggle="tooltip" href="http://www.mosconcert.com/"><i class="fa">www.mosconcert.com</i></a>
                    <br/>
                    <a title="dmitrikogan" data-placement="bottom" data-toggle="tooltip" href="http://dmitrikogan.ru/"><i class="fa">www.dmitrikogan.ru</i></a>
                    <br />
                    <a title="moscowcamerata" data-placement="bottom" data-toggle="tooltip" href="http://www.moscowcamerata.com/"><i class="fa">www.moscowcamerata.com</i></a>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <hr />
            <h4>Отправить сообщение Александре Федотовой:</h4>
            @Html.Partial("Feedback", new AlexandraViolin.Models.EmailModel())
        </div>
        <div class="col-lg-12">
            <hr />
            <iframe width="100%" scrolling="no" height="400px" frameborder="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2243.508425734103!2d37.568585!3d55.784409!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5498b4a1d0101%3A0xcdb48e4d1c5c28f2!2z0JzQvtGB0LrQvtC90YbQtdGA0YI!5e0!3m2!1sen!2sru!4v1476545619031" marginwidth="0" marginheight="0"></iframe>
        </div>
    </div>
</div>
<hr>
