@model Violin.Domain.Account

<table id="idLogin">
    <tr>
        <td>@Html.Label("Name: ")</td>
        <td>&thinsp;</td>
        <td>@Html.Label(@Model.name)</td>
        <td>&emsp;</td>
    </tr>
</table>