/*****************************/
/*body {
	font-family: Tahoma;
}*/
.demo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.demo-gallery a:hover,
.portfolio-item a:hover {
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.6);
}

.demo-gallery a:hover,
.portfolio-item a:hover,
a.crop {
    transition: box-shadow .1s ease-in-out;
}

a.crop
{
  float:left;
  /*margin:.5em 10px .5em 0;*/
  margin: 5px 0;
  overflow:hidden; /* this is important */
  position:relative; /* this is important too */
  /*border:1px solid #ccc;*/
  width:275px;
  height:200px;
}
a.cropOrchestra
{
  float:left;
  /*margin:.5em 10px .5em 0;*/
  margin: 5px 0;
  overflow:hidden; /* this is important */
  position:relative; /* this is important too */
  /*border:1px solid #ccc;*/
  width:275px;
  height:200px;
}
a.cropLesson
{
  float:left;
  /*margin:.5em 10px .5em 0;*/
  margin: 5px 0;
  overflow:hidden; /* this is important */
  position:relative; /* this is important too */
  /*border:1px solid #ccc;*/
  width:275px;
  height:200px;
}
img.crop 
{
  position:absolute;
  top:-40px;
  left:-10px;
}

header {
	text-align: center;
}

#calendar {
	width: 100%;	
}

#calendar a {
	color: #8e352e;
	text-decoration: none;
}

#calendar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

#calendar li {
	display: block;
	float: left;
	width: 14.342%;
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	margin-right: -1px;
	margin-bottom: -1px;
}

.dayday {
	display: block;
	float: left;
	width: 25%;
    /*min-width: 200px;*/
	padding: 5px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	margin-right: 0px;
	margin-bottom: 0px;
    list-style: none;
	/*padding: 0;*/
	margin: 0;
	/*width: 100%;*/
    height: 180px;
    margin-left: -1px;
    margin-top: -1px;
    transition: background-color .2s;
}

.dayday:hover {
    background-color: #dddddd;
    transition: background-color .2s;
}

/*a:hover, a:focus {
    color: #8a989a;
    text-decoration: underline;
}*/

#calendar ul.weekdays {
	height: 40px;
	background: #8e352e;
}

#calendar ul.weekdays li {
	text-align: center;
	text-transform: uppercase;
	line-height: 20px;
	border: none !important;
	padding: 10px 6px;
	color: #fff;
	font-size: 13px;
}

#calendar .days li {
	height: 180px;
}

#calendar .days li:hover {
	background: #d3d3d3;
}

#calendar .date {
	text-align: left;
	margin-bottom: 5px;
	padding: 4px;
	/*background: #333;*/
	color: #8c9ba0;
    font-size: 50px;
	/*width: 20px;*/
	/*border-radius: 50%;*/
	/*float: right;*/
}

#calendar span {
    font-size: 30px;
}

/*#calendar .week {
	text-align: right;
	margin-bottom: 5px;
    font-size: 20px;
	padding: 4px;
	color: #aabcbe;
}*/

#calendar .event {
	clear: both;
	display: block;
	/*font-size: 13px;*/
	border-radius: 4px;
	/*padding: 5px;*/
	/*margin-top: 10px;*/
	margin-bottom: 5px;
	line-height: 14px;
	/*background: #e4f2f2;*/
	/*border: 1px solid #b5dbdc;*/
	color: #009aaf;
	/*text-decoration: none;*/
}

#calendar .event-desc {
	color: #8c9ba0;
	margin: 3px 0 7px 0;
	text-decoration: none;	
}

#calendar .other-month {
	background: #f5f5f5;
	color: #666;
}

.youtube {
    position: relative;
    padding-bottom: 56.23%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
}

.youtube iframe,
.youtube object,
.youtube embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

    .youtube img:hover {
        -webkit-filter: brightness(75%);
    }

.youtube .play {
    height: 48px;
    width: 68px;
    left: 50%;
    top: 50%;
    margin-left: -34px;
    margin-top: -24px;
    position: absolute;
    background: url(../img/youtube-play.png) no-repeat;
    cursor: pointer;
}

/* ============================
				Mobile Responsiveness
   ============================*/


@media(max-width: 768px) {

	#calendar .weekdays, #calendar .other-month {
		display: none;
	}

	#calendar li {
		height: auto !important;
		border: 1px solid #ededed;
		width: 100%;
		padding: 10px;
		margin-bottom: -1px;
	}

	#calendar .date {
		float: none;
	}

    #calendar .dayday {
	    width: 100%; 
        /*margin-bottom: -1px;*/ 
        margin-top: -1px; 
    }

}

@media (min-width: 992px) {
    #media-video .row {
        display: flex;
        flex-wrap: wrap;
    }
}

